#!/usr/bin/make -f

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH), amd64)
TBARCH=x86_64
else
TBARCH=i686
endif


%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean
	rm -f thunderbird-launcher

override_dh_auto_build:
	sed -e 's|@ARCH@|$(TBARCH)|g' thunderbird-launcher.in > thunderbird-launcher
	chmod a+x thunderbird-launcher

override_dh_compress:
	dh_compress -XMPL-2.0

