[Desktop Entry]
Name=Thunderbird (launcher)
Comment=Read/Write Mail/News with Thunderbird (launcher)
GenericName=Mail Client
Exec=thunderbird-launcher %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird-launcher
Categories=Network;Email;News;GTK;
MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/x-vcard;
StartupWMClass=Thunderbird (launcher)
StartupNotify=true
Name[ca]=Client de correu Thunderbird (launcher)
Name[cs]=Poštovní klient Thunderbird (launcher)
Name[fi]=Thunderbird-sähköposti (launcher)
Name[fr]=Messagerie Thunderbird (launcher)
Name[ja]=Thunderbird メールクライアント (launcher)
Name[pl]=Klient poczty Thunderbird (launcher)
Name[pt_BR]=Cliente de E-mail Thunderbird (launcher)
Name[sv]=E-postklienten Thunderbird (launcher)
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[de]=Emails lesen und verfassen
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[it]=Leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Ler e escrever suas mensagens
Comment[sv]=Läs och skriv e-post
GenericName[ja]=メールクライアント
Keywords=Mail;Contact;Addressbook;News;
