[Desktop Entry]
Encoding=UTF-8
Name=Firefox (launcher)
Name[bg]=Firefox (launcher)
Name[ca]=Firefox (launcher)
Name[cs]=Firefox (launcher)
Name[el]=Firefox (launcher)
Name[es]=Firefox (launcher)
Name[fa]=Firefox (launcher)
Name[fi]=Firefox (launcher)
Name[fr]=Firefox (launcher)
Name[hu]=Firefox (launcher)
Name[it]=Firefox (launcher)
Name[ja]=Firefox (launcher)
Name[ko]=Firefox (launcher)
Name[nb]=Firefox (launcher)
Name[nl]=Firefox (launcher)
Name[nn]=Firefox (launcher)
Name[no]=Firefox (launcher)
Name[pl]=Firefox (launcher)
Name[pt]=Firefox (launcher)
Name[pt_BR]=Firefox (launcher)
Name[ru]=Firefox (launcher)
Name[sk]=Firefox (launcher)
Name[sv]=Firefox (launcher)
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Firefox Web Browser (launcher)
X-GNOME-FullName[bg]=Интернет браузър (Firefox launcher)
X-GNOME-FullName[ca]=Navegador web Firefox (launcher)
X-GNOME-FullName[cs]=Firefox Webový prohlížeč (launcher)
X-GNOME-FullName[el]=Περιηγήτης Ιστού Firefox (launcher)
X-GNOME-FullName[es]=Navegador web Firefox (launcher)
X-GNOME-FullName[fa]=مرورگر اینترنتی Firefox (launcher)
X-GNOME-FullName[fi]=Firefox-selain (launcher)
X-GNOME-FullName[fr]=Navigateur Web Firefox (launcher)
X-GNOME-FullName[hu]=Firefox webböngésző (launcher)
X-GNOME-FullName[it]=Firefox Browser Web (launcher)
X-GNOME-FullName[ja]=Firefox ウェブ・ブラウザ (launcher)
X-GNOME-FullName[ko]=Firefox 웹 브라우저 (launcher)
X-GNOME-FullName[nb]=Firefox Nettleser (launcher)
X-GNOME-FullName[nl]=Firefox webbrowser (launcher)
X-GNOME-FullName[nn]=Firefox Nettlesar (launcher)
X-GNOME-FullName[no]=Firefox Nettleser (launcher)
X-GNOME-FullName[pl]=Przeglądarka WWW Firefox (launcher)
X-GNOME-FullName[pt]=Firefox Navegador Web (launcher)
X-GNOME-FullName[pt_BR]=Navegador Web Firefox (launcher)
X-GNOME-FullName[ru]=Интернет-браузер Firefox (launcher)
X-GNOME-FullName[sk]=Internetový prehliadač Firefox (launcher)
X-GNOME-FullName[sv]=Webbläsaren Firefox (launcher)
Exec=firefox-launcher %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-launcher
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox (launcher)
StartupNotify=true
